#oldComments {
  /*background-color: #E0E0E0;*/
  border-radius: 15px;
}
.comment p {
  margin: 0;
}
.comment {
  margin: 0px 0px;
  padding: 5px;
  min-height: 50px;
  font: sans-serif;
}
#textWrap {
  padding-top: 5px;
  margin-top: 10px;
  border-top: 1px solid #E6E6E6;
}
.commentBox {
  width: 100%;
  resize: none;
  font-family: sans-serif;
  font-size: 15px;
  border-radius: 3px;
}
.eCom {
  resize: none;
  font-family: sans-serif;
  font-size: 16px; 
}
.eCom:focus {
  outline: none;
  border: none;
}
#oComName {
  color: steelblue;
  font-size:16px;
}
.upic {
  border-radius: 50%;
  position:absolute;
  width:50px;
}
.oCom {
  margin-left:55px;
  display:inline-block;
  word-wrap: break-word;
  font-family: sans-serif;
  font-size:16px;
}
.twrap{
  overflow: hidden;
  padding-left: 55px;
}
#login, #logout {
  float:right;
  text-decoration:none;
  color: grey;
  font-size:15px;
  font-family:sans-serif;
}
.smLogin:hover {
  opacity: 1;
}
.smLogin {
  font-size:14px;
  opacity: .6;
}
#fbLogin {
  color: #3b5998;
}
#googleLogin {
  color: red;
}
#githubLogin{
  color: black
}
#show,#hide {
  float:right;
  text-decoration:none;
  color:grey;
  font-size:15px;
}
#togComments {
  text-decoration:none;
  color:darkgrey;
}
#pen {
  height:12px;
  width:auto;
  opacity:.5;
}
#pen:hover {
  opacity:1;
}
#x {
  /*float: right;*/
  font-size: 15px;
  text-decoration: none;
  color: darkgrey;
}
#x:hover {
  color: red;
  cursor: default;
}
.timeago {
  color: darkgrey;
  font-size: 12px;
}
#noul {
  text-decoration: none;
}
#comReply {
  color: darkgrey;
  text-decoration: none;
}
#comReply:hover {
  color: green;
  cursor: pointer;
}
