[submodule "assets/R_Functions"]
	path = assets/R_Functions
	url = https://github.com/luiarthur/R_Functions.git
[submodule "assets/ams241/LDA_practice"]
	path = _ucscNotes/bnp/project_ideas/LDA_practice
	url = git@github.com:luiarthur/LDA_practice.git
