---
layout: page
description: "Bayesian Statistics / Computing"
titleimg: <img src="https://avatars.githubusercontent.com/u/5297817?v=3" style="width:200px; border-radius:50%; margin:auto;">
comments: off
---

{% for post in site.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">Posted on {{ post.date | date: "%-d %b, %Y" }}</p>
</div>
<hr>
{% endfor %}
