<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{page.description}}">
    {% if page.ogimg %}
    <meta property="og:image" content="{{ page.ogimg }}">
    {% endif %}


    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">


    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/clean-blog.min.css" | prepend: site.baseurl }}">

    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">

    <!-- Glossary css. Work on this. Make a glossary type page. -->
    {% if page.glossary %}
    <link rel="stylesheet" href="{{ "/css/glossary.css" | prepend: site.baseurl }}">
    {% endif %}

    <!-- Custom Fonts -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Must be put before mathjax to ensure no rendering problems arise. -->
    {% if page.plotlyjs %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {% endif %}

    <!--MathJax-->
    <!--script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script-->
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.6.1/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    {% if page.dollar %}
    <script> MathJax.Hub.Config({ 
               tex2jax: { 
                 inlineMath: [['$','$'], ['\\(','\\)']], 
                 processEscapes: true 
               },
               TeX: {
                 extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"],
                 Macros: {
                   norm: ["{\\left\\lVert#1\\right\\rVert}",1],
                   paren: ["{\\left(#1\\right)}",1],
                   p: ["{\\left(#1\\right)}",1],
                   brak: ["{\\left[#1\\right]}",1],
                   bk: ["{\\left[#1\\right]}",1],
                   brac: ["{\\{#1\\}}",1],
                   bc: ["{\\{#1\\}}",1],
                   abs: ["{\\left|#1\\right|}",1],
                   ds: [" \\displaystyle "],
                   v: [" \\vert "]
                 }
               }
             });
    </script>
    {% endif %}
    <!-- ARTHUR LUI -->
    <link rel="stylesheet" type="text/css" href="/css/mystyle.css" />

    <!--d3. Not necessary. Just for exploration.-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/js/clean-blog.min.js"></script>
    <!-- jquery.elastic -->
    <!--script type="text/javascript" src="/js/jquery.elastic.source.js"></script-->

    <!-- HTML File Inclusions-->
    {% if page.comments == "cucumber" %}
      <!-- Cucumber. Needs jQuery. -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.1/jquery.timeago.js"></script>
      <script type="text/javascript" src="https://cdn.firebase.com/js/client/2.2.5/firebase.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.0/mustache.min.js"></script>
      <script type="text/javascript" src="/js/jquery.elastic.source.js"></script>
      <script> $(function(){$("#cucumber").load("/chunks/cucumber.html");}); </script>
      <link rel="stylesheet" type="text/css" href="/css/cucumber.css">
    {% elsif page.comments == "inlinedisqus" %}
      <!-- Inline Disqus -->
      <script src="/js/inlineDisqussions.js"></script>
      <link rel="stylesheet" type="text/css" href="/css/inlineDisqussions.css">
    {% elsif page.comments == "disqus" %}
      <!-- Regular Disquss -->
      <script src="/js/disqus.js"></script>
      <link rel="stylesheet" type="text/css" href="/css/disqus.css">
    {% elsif page.comments == "fb" %}
      <!-- fb-comments-->
      <meta property="fb:app_id" content="878506195570478"/>
      <script src="/js/fb-comments.js"></script>
      <link rel="stylesheet" type="text/css" href="/css/fb-comments.css">
    {% endif %}  


    <!--pygments syntax highlighting-->
    <link rel="stylesheet" href="/css/syntax.css">

    {% if page.barchart %}
      <script type="text/javascript" src="/js/barchart.js"></script>
    {% endif  %}

    {% if page.multiline %}
      <script type="text/javascript" src="/js/multilineplot.js"></script>
      <link rel="stylesheet" href="/css/multilineplot.css">
    {% endif %}

    {% if page.usmap %}
      <link rel="stylesheet" href="/css/usmap.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.min.js"></script>
      <script src="/js/usmap.js"></script>
    {% endif %}

    {% if page.histogram %}
      <script src="/js/histogram.js"></script>
      <link rel="stylesheet" type="text/css" href="/css/histogram.css">
    {% endif %}

    {% if page.choropleth %}
      <link rel="stylesheet" href="/css/choropleth.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.min.js"></script>
      <script src="/js/choropleth.js"></script>
    {% endif %}

    {% if page.countyChoropleth %}
      <link rel="stylesheet" href="/css/countyChoropleth.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.min.js"></script>
      <script src="/js/countyChoropleth.js"></script>
    {% endif %}

</head>
