---
layout: default
---


<header class="intro-header" style="background-color:{{page.header-color}}; height:60px; margin:0">
</header>


<!-- Main Content -->
<div class="container">
    <div class="row">
        {% if page.comments != "inlinedisqus" %}
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% else %}
        <div style="padding: 10px;">
        <!--div class="col-lg-12"-->
        {% endif %}

            {% include my_pager.html %}
            <p align="right" style="margin: 0; padding: 0;">{{page.date | date: "%-d %b, %Y"}}</p>
            <h1> {{page.title}} </h1> 
            <hr>

            {% if page.comments == "inlinedisqus" %}
            <div style="width: 66%; padding: 10px;">
            {% endif %}
                {{content}}

                {% if page.comments == "fb" %}
                  <div id="fb-root"></div>
                  <div class="fb-comments"></div>
                {% elsif page.comments == "cucumber" %}  
                  <div id="cucumber"></div>
                {% elsif page.comments == "disqus" %}  
                  <hr>
                  <div id="disqus_thread" style="width: 100%;"></div>
                {% elsif page.comments == "inlinedisqus" %}  
                  <hr>
                  <div id="disqus_thread"></div>
                {% endif %}

            {% if page.comments == "inlinedisqus" %}
            </div>
            {% endif %}

            {% include my_pager.html %}
        </div>
    </div>
</div>

