---
layout: default
---


<header class="intro-header" style="background-color:{{page.header-color}}; height:60px; margin:0">
</header>


<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          {{content}}

          {% if page.comments == "fb" %}
            <div class="fb-comments"></div>
          {% elsif page.comments == "cucumber" %}  
            <div id="cucumber"></div>
          {% elsif page.comments == "disqus" %}  
            <div id="disqus_thread"></div>
          {% elsif page.comments == "inlinedisqus" %}  
            <div id="disqus_thread"></div>
          {% endif %}
      </div>
    </div>
</div>

